/* You can add global styles to this file, and also import other style files */
*   {
    box-sizing: border-box;
}

html {
    height: 100%;
}

a   {
    color: #44a4cd;
}

a :hover   {
    color: #44a8cf
}

body {
    font-family: 'Source sans Pro', sans-serif;
    background-color: #1c2228;
    color: #f7fff7;
    height: 100%;
}